name: publish
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  release:
    types: [published]

env:
  UV_LOCKED: true

jobs:
  pypi:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    environment:
      name: pypi
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
      - run: uv build
      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: ${{ github.event.release.tag_name }}
      - run: uv publish
