name: pytest
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 1'

env:
  UV_LOCKED: true

jobs:
  pytest:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ["3.12", "3.13"]
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: pyvista/setup-headless-display-action@v4
        with:
          qt: true
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: ${{ matrix.python-version }}
      - run: uv sync -q --no-default-groups --group test
      - run: llmde sys-info --developer
      - run: pytest tests --cov=llmde --cov-report=xml --cov-config=pyproject.toml
      - uses: codecov/codecov-action@v5
        if: ${{ github.repository == 'mscheltienne/llmde' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pytest-pip-pre:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
    name: pip pre-release - py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: pyvista/setup-headless-display-action@v4
        with:
          qt: true
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: ${{ matrix.python-version }}
      - name: Install package
        run: |
          uv sync -q --no-default-groups --group test
          uv pip install -q --upgrade --prerelease allow --only-binary :all: -i https://pypi.anaconda.org/scientific-python-nightly-wheels/simple numpy
      - run: llmde sys-info --developer
      - run: pytest tests --cov=llmde --cov-report=xml --cov-config=pyproject.toml
      - uses: codecov/codecov-action@v5
        if: ${{ github.repository == 'mscheltienne/llmde' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
